@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* font-family: "Rubik", sans-serif; */
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

/* Estilos para el header cuando se hace scroll */
header {
    transition: all 0.3s ease;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
}



/*MENU TOGGLE*/



.menu__label {
    display: none;
}


/*CART TOGGLE*/


.cart__container::-webkit-scrollbar {
    width: 4px;             
  }
  
  .cart__container::-webkit-scrollbar-track {
    background: #ED8F03;  
  }
  
  .cart__container::-webkit-scrollbar-thumb {
    background-color: #264653;    
    border-radius: 20px;    
    border: 3px solid #264653;  
  }




/* #cart-toggle {
    display: none;
} */



/*MODAL TOGGLE*/    

#confirmationModal,
#successModal,
#formModal {
    display: none;
    position: fixed;
    background-color: white;
    color: #264653;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    z-index: 999;
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo del modal */
    /* transform: translate(400%); */
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    box-shadow: 1px 5px 29px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 29px 0px rgba(0,0,0,0.75);
}

.open__modal__cart {
    transform: translate(-50%, -50%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    height: 800px;
    overflow-x: hidden;
    padding: 20px;
    
}

.cart {
    display: none;
    height: 800px;
    gap: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    right: 0;
    top: 65px;
    padding: 20px;
    border-bottom-left-radius: 14px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ED8F03, #FFB75E);
}

.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }


.cart::-webkit-scrollbar {
    display: none;
}


.cart h2 {
    font-size: 22px;
}

.cart__item {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.item__handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.quantity__handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: #264653;
    color: white;
    font-weight: 400;
    cursor: pointer;
}



.item__bid {
    font-weight: 300;
    font-size: 14px;
}

.item__prize {
    font-weight: 800;
    font-size: 16px
}

.divider {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #264653;
}

.cart__total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: 30px;
}

.cart__total p {
    font-weight: 700;
    
}

.cart__total span {
    font-weight: 400;
    color: white;
    background-color: #264653;
    border-radius: 10px;
    padding: 2px 8px;
}

.cart__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.btn__buy,
.btn__delete {
    width: 100%;
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.icon__cart {
    color: white;
    cursor: pointer;
    position: relative;
}

.cart__bubble {
    position: absolute;
    background-color: rgb(255, 187, 27);
    color:#264653;
    top: -8px;
    right: -8px;
    text-align: center;
    font-size: 10px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
    font-weight: 500;
}

.cart__item img {
    width: 45px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.btn__buy,
.btn__delete {
    background-color: #264653;
    padding: 10px 35px;
    border: none;
    color: white;
}

#confirmButton,
#cancelButton,
#closeSuccessButton,
#closeModalButton
 {
    background-color: #264653;
    padding: 8px 10px;
    border: none;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;

}

#confirmButton:hover,
#cancelButton:hover,
#closeSuccessButton:hover,
#closeModalButton:hover {
    background-color: #fcbe72;
}



header {
    /* background-color: #264653; */
    background-color: #26465352;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 30px 0 30px;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: 400;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.navbar__links a,
.navbar__logo  {
    color: white;
}

.navbar__logo {
    font-size: 24px;
}

.active {
    background-color: rgb(255, 187, 27);
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
}

/*products section */
.products__container {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(5, 1fr);
	gap:0;
	height: 100%;
    background-color: white;
    border-radius: 10px;
    column-gap: 15px;
    row-gap: 14px;
} 


.products__cards {
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}

 .products__cards:nth-child(1) {
	grid-area: 1 / 1 / 5 / 4;
	background-color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px;

}
.products__cards:nth-child(2) {
	grid-area: 1 / 4 / 3 / 5;
	background-color: #dcdcdc;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}


.products__cards:nth-child(3) {
	grid-area: 1 / 5 / 3 / 6;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}
.products__cards:nth-child(4) {
	grid-area: 3 / 4 / 5 / 5;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}

.products__cards:nth-child(5) {
	grid-area: 3 / 5 / 5 / 6;
    background-color: #dcdcdc;
    border-radius: 10px; 
    padding: 20px;  
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px;
} 



/* .products__cards img {
    width: 200px;
} */

.products__cards img {
    width: 200px; /* Establece un ancho fijo */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    border-radius: 10px; /* Opcional: si deseas bordes redondeados */
}


 .products__cards:nth-child(1) img {
    width: 500px;
    place-items: center;
    height: 500px;
    object-fit: none
}
.products__cards:nth-child(2) img {
    width: 200px; /* Establece un ancho fijo */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    border-radius: 10px; /* Opcional: si deseas bordes redondeados */
}
.products__cards:nth-child(3) img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}
.products__cards:nth-child(4) img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}
.products__cards:nth-child(5) img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}  

/* .products__container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    background-color: white;
    padding: 20px;
}

.product-card {
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
 */



/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px; */
    height: 425px;
    background-color: #353535;
}

.hero__text {
    color: #353535;
    font-size: 22px;
    max-width: 2200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.text__gradient {
    font-size: 78px;
    font-weight: 700;
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    color: transparent;

}

.hero__btn {
    margin-top: 25px;

}

.hero__btn a {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    color: #353535;
}


/* Logos container */

.logos__container {
    width: 100%;
    height: 200px;
   
}

.logos__container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    mask-image: linear-gradient(90deg,transparent 0,#000 128px,#000 calc(100% - 200px),transparent); /* Asegura que los logos que se muevan fuera de la vista no sean visibles */
}

.logos__row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 25px;
    margin-bottom: 20px;
    max-width: 1280px;
    animation: scroll-logos 50s linear infinite;
}

@keyframes scroll-logos {
    0% {
        transform: translateX(100%); /* Empieza fuera del contenedor a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Termina fuera del contenedor a la izquierda */
    }
}


 .logos__img {
    width: 75px;
    cursor: pointer;
}

.jbl {
    width: 60px;
}

.panasonic {
    width: 90px;
}

.samsung {
    width: 90px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 0 200px;
    position: relative;
}

.about__title {
   max-width: 450px;
}

.about__text {
    font-size: 42px;

}

.about__text__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__text .gradient {
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    color: transparent;
}

.about__img {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    display: block;
}


.about__img img {
    width: 600px;
    border-radius: 12px;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    clip-path: circle(60% at 30% 30%);
}

.about__img::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 10%;
    width: 33%;
    height: 33%;
    background-color: #8261f7;
    border-radius: 50%;
    z-index: -1; /* Coloca el blob detrás de la imagen */
    filter: blur(50px); /* Aplica un desenfoque para suavizar los bordes del blob */
}

.about__img::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: #f06bfa;
    border-radius: 50%;
    z-index: -1; /* Coloca el blob detrás de la imagen */
    filter: blur(30px); /* Aplica un desenfoque para suavizar los bordes del blob */
}

/* Elementos adicionales para más blobs de colores */
.about__img .color-spot {
    position: absolute;
    border-radius: 50%;
    z-index: -1; /* Coloca los blobs detrás de la imagen */
    filter: blur(30px); /* Aplica un desenfoque para suavizar los bordes del blob */
}

.about__img .color-spot.spot1 {
    width: 13%;
    height: 13%;
    background-color: #ff9f1c;
    top: 25%;
    left: 66%;
}

.about__img .color-spot.spot2 {
    width: 60px;
    height: 60px;
    background-color: #2ec4b6;
    bottom: 100px;
    right: 100px;
}

.about__img .color-spot.spot3 {
    width: 50px;
    height: 50px;
    background-color: #e71d36;
    top: 200px;
    right: 200px;
}
 /* .blur--bg {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #264653;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    z-index: -1;

 } */




/* Elementos adicionales para más manchas de colores */


/* NEW PRODUCTS SECTION */

.products__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 25px;
}

.products__new__section {
    display: flex;
    width: 1000px;
    gap: 150px;
    overflow:scroll;
    overflow-y: hidden;
    padding: 10px;
    text-align: center;

}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #264653;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fcbe72;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #fcbe72;  /* creates padding around scroll thumb */
  }
.products__new__section::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
  .products__new__section::-webkit-scrollbar-track {
    background: #707070;        /* color of the tracking area */
  }
  
  .products__new__section::-webkit-scrollbar-thumb {
    background-color: #264653;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #264653;  /* creates padding around scroll thumb */
  }

.products__new__cards {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.products__new__cards img {
    width: 90px;
    mix-blend-mode: multiply;

}

/* CATEGORIES PRODUCTS */

.categories__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.products__categories {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.category {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #264653;
    font-size: 16px;

}

.active {
    background-color: #264653;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px 8px;
}


/* PRODUCTS SECTION FLEX */
.products__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
} 
/*
.products__section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
} 

.products__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 40px;
}

 .products__section img {
    background-color: #c2c2c2;
    padding: 20px;
    width: 190px;
} */

.products__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 10px;
}

.products__description__info {
    display: flex;
    align-items: center;
    gap: 10px;
}



/* .products__btn {
    background-color: #ED8F03;
    border: none;
    padding: 2px 20px;
    cursor: pointer;
} */

.products__btn {
    width: 150px; /* Establece el ancho fijo para los botones */
    height: 40px; /* Establece la altura fija para los botones */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    font-size: 16px; /* Asegura un tamaño de fuente consistente */
    padding: 10px; /* Asegura un padding consistente */
    border-radius: 5px; /* Opcional: si deseas bordes redondeados */
    background-color: #264653; /* Establece el color de fondo */
    color: white; /* Establece el color del texto */
    border: none; /* Elimina cualquier borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.products__btn:hover {
    background-color: #2a9d8f; /* Cambia el color de fondo al pasar el mouse */
}

.products__btn:hover {
    background-color: #FFB75E;
}

.products__prize {
    background-color: #264653;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.view__more {
    background-color: #264653;
    color: white;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

.gray__text {
    color: #707070;
} 


/* BENEFITS SECTION */

.benefits__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px; 
    margin-top: 70px;
    height: 400px;
    background-color: #264653;
    color: white;
    gap: 30px;
}

.benefits__titles {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 65px; */
    font-size: 22px;
}

.benefits__cards__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.benefits__card {
    max-width: 350px;
    text-align: center;
    font-weight: 300;
}

.benefits__card3 {
    max-width: 350px;
    text-align: center;
    font-weight: 300;
   
}

.benefits__card h3 {
    font-size: 22px;
}
.benefits__card3 h3 {
    font-size: 22px;
}

.benefits__card p {
    font-size: 18px;
    width: 250px;
}

.benefits__card3 p {
    font-size: 18px;
    
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 70px;
}

.form__inputs input,
.message__area {
    font-size: 18px;
    border-radius: 14px;
    padding: 2px 15px;
    width: 280px;
}

.btn__submit {
    background-color: #ED8F03;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 16px;
}

.btn__submit:hover {
    background-color: #FFB75E;
}

/* FOOTER SECTION */

.footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    color: white;
    height: 200px;
    gap: 125px;
    margin-top: 70px;
}

.footer__text {
    display: flex;
    gap: 40px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__social__media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    h6 {
        font-weight: 300;
        font-size: 14px;
    }
}

.footer__logos {
    img {
        width: 25px;
        margin: 2px;
    }
}

.footer__subscribe {
    h6 {
        font-weight: 300;
        font-size: 14px;
    }

    input {
        padding: 5px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid white;
        outline: none;
        border-radius: 8px;
        color: white;
        margin-top: 5px;
    }

    input::placeholder {
        color: white;
    }

    button {
        background-color: #ED8F03;
        border: none;
        padding: 5px 30px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 5px;
    }
 
}

.footer__info,
.footer__company,
.footer__resources {
    h4 {
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 20px;
    }

    p {
        font-weight: 100;
    }
}

.add--modal {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 110px;
    border-radius: 12px;
    background-color: #1eca00;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active--modal {
    transform: translateY(0);
    transition: all 0.5s ease-out;
}

.disabled {
    background-color: #707070;
    color: white;
    cursor: not-allowed;
    border: none;
}

/* Estilos generales */
/* .typewriter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gradient.typewriter {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; 
*/


